<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iostemplate_objectivec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDD65FE81DE0755C00FDEC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD660011DE0755C00FDEC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD6600C1DE0755C00FDEC88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
